$color-w: rgba(15, 15, 15, .5);
$color-main:rgb(104, 219, 204);
$color-box:  aquamarine;
$color-hover: rgba(239, 255, 91, 0.966);
$color-hover2:#000000;
$color-boxi: #1a1070;
$color-boxhi: rgb(255, 255, 255);
$color-boxh5:  #5c5c5c;
$color-bhoverh5y4: aqua;
$color-header: #ac43ad;
$color-navlia: rgb(255, 255, 255);
$color-navliahover:rgba(0, 0, 0, 0.5);
$color-liahover:rgb(9, 0, 128);
$color-navlistul: violet;
$color-h2: rgb(136, 232, 245);
$color-iconmenu: rgb(18, 25, 133);
$color-imagenes:  rgb(219, 22, 144);
$colorbtn2: aliceblue;
$color-form:  rgb(115, 45, 180);
$color-conteinerin: #283847;
$color-conteinerin2: #fcfcfccc;
$color-input:  antiquewhite;
$color-submenu: violet;
$color-h5:#5c5c5c;
$color-bh: rgb(38, 0, 128);
$color-h1:azure

