//Variables
$font-subtitulos: 'Fenix', serif;
$font-titulo: 'Raleway', sans-serif;
$font-lista: 'Poppins', sans-serif;
$font-media: 14px;
$font-grande: 40px;
$font-gg: 60px;
$font-mm: 26px;
$font-h4:20px;
$mdvipe: 720px;
$smham: 10px;
$logow:200px;



